<template name="viewProfile">
	<div class="row middle-xs center-xs">
		<div class="col-sm-8">
			<div class="row center-xs middle-xs">
				<div class="col-sm-12 col-md-5 text-center"> <img alt="User Pic" src="{{user.profile.picture}}" class="img-circle img-responsive"> </div>
				<div class="col-sm-12 col-md-7 text-left">

					<p class="lead no-margin-bottom">{{user.username}} <a href="#" class="btn btn-default btn-outline">Follow</a></p>

					<p>A Bloggist in Brooklyn</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<table class="table table-user-information text-left">
						<tbody>
							<tr>
								<td>Level:</td>
								<td>Hood Ambassador</td>
							</tr>
							<tr>
								<td>Events Created:</td>
								<td>{{userEventsCount}}</td>
							</tr>
							<tr>
								<td>User Since</td>
								<td>{{user.createdAt}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
	<!-- <div class="wrap container-fluid">
		<div class="row middle-xs">
			<div>
				<div class="col-sm-4">
					<img alt="User Pic" src="{{user.profile.picture}}" class="img-circle img-responsive">
				</div>

				<div class="col-sm-8">
					<div class="page-title">{{user.username}} <a href="#" class="btn btn-outline btn-default">Follow</a></div>
					<p class="lead">A Bloggist in Brooklyn</p>
				</div>





			</div>
		</div>
	</div> -->
</template>
