<template name="eventDetail">
	<div class="container">
		<header class="lead">
			Event Detail
		</header>

		ownerId: {{ownerId}}<br><br>
		fbId: {{fbId}}<br><br>
		name: {{name}}<br><br>
		description: {{description}}<br><br>
		places: {{places}}<br><br>
		itineraryId: {{itineraryId}}<br><br>
		picture: {{picture}}<br><br>
		privacy: {{privacy}}<br><br>
		ticket_uri: {{ticket_uri}}<br><br>
		start_time: {{start_time}}<br><br>
		end_time: {{end_time}}<br><br>
		updated_time: {{updated_time}}<br><br>
		eventChannel: {{eventChannel}}<br><br>
	</div>
</template>
