<template name="login">
	<!-- <div class="below-primary-nav" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" width="560" height="315" src="https://youtube.com/embed/H2FvAhERZQ4" frameborder="0" allowfullscreen></iframe>
		</div>
	</div> -->

	<div class="row middle-xs center-xs">
		<div class="text-center">
			<header class="lead">Login</header>
			<form id="login" class="login text-left">
				<div class="form-group">
					<label for="emailAddress">Email Address</label>
					<input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
				</div>
				<div class="form-group">
					<label for="password"><span class="pull-left">Password</span> <a class="pull-right" href="{{pathFor 'recover-password'}}">Forgot Password?</a></label>
					<input type="password" name="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="Login">
					<a href="#" data-action="facebook-login" class="btn btn-primary">Login with Facebook</a>
				</div>
			</form>
			<p>Don't have an account? <a href="{{pathFor 'signup'}}">Sign Up</a>.</p>
		</div>
	</div>

</template>
