<template name="primaryNav">
	<nav class="navbar navbar-inverse navbar-fixed-top" id="primary-nav" role="navigation">
		<div class="wrap container-fluid">
			<div class="row between-xs middle-xs">
				<div class="col-xs text-left">
					{{#if backButton}}
						<a class="btn btn-primary navbar-btn" data-action="back"><i class="fa fa-chevron-left"></i> Back</a>
					{{/if}}
				</div>
				<div class="col-xs text-center">
					<a class="navbar-brand" href="{{brandLink}}">{{appName}}</a>
				</div>
				<div class="col-xs">
					{{#if currentUser}}
						{{> authenticatedNavigation}}
					{{else}}
						{{> publicNavigation}}
					{{/if}}
				</div>
			</div>
		</div>
	</nav>
</template>
