<template name="secondaryNav">
	{{#if activeSubNavTemplate}}
	<nav class="navbar navbar-default" role="navigation" id="secondary-nav">
		<div class="wrap container-fluid">
			<div>
				<button
					type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#secondary-nav__collapse" aria-expanded="false" id="secondary-nav__hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>

				<div class="collapse navbar-collapse" id="secondary-nav__collapse">
        	{{> Template.dynamic template=activeSubNavTemplate}}
`				</div>
`			</div>
		</div>
	</nav>
	{{/if}}
</template>
