<template name="dashboard">
	<div class="container">
		<div class="col-xs-12">

			<header class="lead">Your Events</header>

			{{#if userHasEvents}}
				{{> itineraries}}
			{{ numberOfEvents }} Events

			<div class="row">
				{{#each userEvents}}
					{{> Template.dynamic template="eventCard" data=this }}
				{{/each}}
			</div>
			{{else}}
			<div class="well text-center">
				<h1 class="text-muted">No Events</h1>
				<hr>
				<a href="{{pathFor 'insertEvent'}}">
					Create One</a><br>
					or<br>
					<a href data-role="import-events"
					data-toggle="modal"
					data-target="#modal"
					data-modal-template="importEvents"
					data-modal-size="full">
					Import RSVP'd events from Facebook
				</a>
			</div>
			{{/if}}

		</div>
	</div>
</template>
