<template name="dashboard">
	<div class="template-container">
		{{> map fixed=true}}
		{{> secondaryNav}}

			{{#if Template.subscriptionsReady}}
				{{#if subNotEmpty userEvents}}
					<div class="bg-color">
						<div class="wrap row center-xs middle-xs">
							{{> sectionTitle title="Upcoming Events" badge=numberOfEvents}}
							{{> eventsList eventsData=userEvents}}
						</div>
					</div>
				{{else}}
					<div class="wrap row center-xs middle-xs">
						<div class="panel panel-default text-center">
							<div class="panel-heading text-center">
								<h4>
									<i class="fa fa-info-circle"></i>
									No Events</h4>
							</div>
							<div class="panel-body text-center">
								<a href="{{pathFor 'insertEvent'}}">Create One</a>
								<br> or
								<br>
								<a href data-role="import-events" data-toggle="modal" data-target="#modal" data-modal-template="importEvents" data-modal-size="full">
									Import RSVP'd events from Facebook
								</a>
							</div>

						</div>
					</div>
				{{/if}}
			{{else}}
				{{> loading}}
			{{/if}}
		</div>
</template>
