<template name="itineraries">
	<div class="itineraries-actions">
		<nav class="navbar">
			<div class="row middle-xs">
				<div class="col-xs action-item">
					<a href
						class="btn btn-block btn-lg btn-primary"
						data-role="import-events"
						data-toggle="modal"
						data-target="#modal"
						data-modal-template="importEvents"
						data-modal-size="full">
						<span>Import from Facebook</span>
					</a>
				</div>
				<div class="col-xs action-item">
					<a href={{pathFor 'insertEvent'}} class="btn btn-block btn-lg btn-success"> <span>Create a new event</span> </a>
				</div>
			</div>
		</nav>
	</div>
</template>
