<template name="itineraries">
	<div class="row itineraries-actions">
		<div class="col-xs action-item">
			<div class="panel panel-default">
				<div class="panel-body">
					<a href={{pathFor 'insertEvent'}} class="display-block text-center"> <span>Create a new event</span> </a>
				</div>
			</div>
		</div>
		<div class="col-xs action-item">
			<div class="panel panel-default facebook">
				<div class="panel-body">
					<a href class="display-block text-center" data-role="import-events" data-toggle="modal" data-target="#modal" data-modal-template="importEvents" data-modal-size="lg"> <span>Import from Facebook</span> </a>
				</div>
			</div>
		</div>
	</div>

</template>
