@import "tools/bootstrap-overrides";
@import "vendor/bootstrap/bootstrap";
// @import "tools/bootstrap-bootswatch";

@import "tools/extends";

@import "objects/images";
@import "objects/forms";
@import "objects/buttons";
@import "objects/navbar-toggle";

@import "components/login";
@import "components/modal";

@import "components/events-list";
@import "components/events/event-card";
@import "vendor/flexboxgrid";
@import "components/header";

.layout{
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	main {
		flex: 1 0 auto;
		overflow-x: hidden;
		background-color: $navbar-default-bg;
		& > * {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
		}
		& > .row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
.full-height{
	display: flex;
  flex-direction: column;
	& > div {
		flex: 1;
		display: flex;
	  justify-content: center;
	  flex-direction: column;
	}
}
.no-margin-bottom{
	margin-bottom: 0;
}

.wrap{
	box-sizing: border-box;
	width: 100%;
  max-width: $container-large-desktop;
  margin: 0 auto;
}

.list-group{
	.list-group-item ~ .list-group-item{
		margin-top: 0;
	}
}

.bg-color {
	position: relative;
	background-color: $body-bg;
}
.bg-facebook{
	background-color: $brand-facebook;
}
.bg-contain{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.bg-cover{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blurry{
	filter: blur(5px);
	&.responsive-embed-item{
		overflow: hidden;
	}
}

.page-cover{
	// background-image: url('bg/ps_neutral/ps_neutral.png');
	$patternSize: 5px;
	background-color: #fff;
	background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
	background-size: ($patternSize * 2) ($patternSize * 2);
	background-position: 0 0, $patternSize $patternSize;
	&.page-cover--fixed{
		position: fixed;
		width: 100%;
		top: 0;
	}
	.embed-responsive{
		padding-bottom:0;
		min-height: 350px;
		height: 25vw;
		max-height: 50vh;
		width: 100%;
		max-width: $container-large-desktop;
		margin: 0 auto;
	}
}

.page-cover_window{
	position: relative;
	padding-bottom: 0;
	min-height: 365px;
	height: 27vw;
	max-height: 50vh;
	width: 100%;
	max-width: $container-large-desktop;
	margin: 0 auto;
}

.btn-lg{
	padding-left: 15px;
	padding-right: 15px;
}

.loader-container{
	text-align: center;
	position: relative;
	height: 0;
	padding-bottom: 10%;
	#svg-loader{
		margin: 0;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
	}
}

.panel-card{
	background: $panel-bg;
	padding: $panel-body-padding * 2;
}
