@import "tools/bootstrap-variables";
@import "vendor/bootstrap/bootstrap";
// @import "tools/bootstrap-bootswatch";

@import "tools/extends";

@import "objects/images";
@import "objects/forms";


@import "components/login";
@import "components/modal";
@import "components/itineraries-list";

@import "vendor/flexboxgrid";

.list-group{
	.list-group-item ~ .list-group-item{
		margin-top: 0;
	}
}
.panel-footer{
	margin-top: 0;
}

[class^="col-"] ~ [class^="col-"],
.btn ~ .btn{
	margin-top: 0;
}

.m-top-0{
	margin-top: 0;
}
