@import "tools/bootstrap-overrides";
@import "vendor/bootstrap/bootstrap";
@import "vendor/flexboxgrid";

@import "tools/extends";

@import "objects/layout";
@import "objects/images";
@import "objects/forms";
@import "objects/buttons";
@import "objects/page-cover";
@import "objects/navbar-toggle";

@import "components/login";
@import "components/modal";
@import "components/events-list";
@import "components/events/event-card";
@import "components/header";

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.list-group{
	.list-group-item ~ .list-group-item{
		margin-top: 0;
	}
}

.bg-color {
	position: relative;
	background-color: #eee;
}
.bg-facebook{
	background-color: $brand-facebook;
}
.bg-contain{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.bg-cover{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blurry{
	filter: blur(5px);
	&.responsive-embed-item{
		overflow: hidden;
	}
}

.btn-lg{
	padding-left: 15px;
	padding-right: 15px;
}

.loader-container{
	text-align: center;
	position: relative;
	height: 0;
	padding-bottom: 10%;
	#svg-loader{
		margin: 0;
    padding: 0;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
	}
}

.panel-card{
	background: $panel-bg;
	padding: $panel-body-padding * 2;
}
