form{
	background: #eee;
	padding: 2rem 2rem;
}
label.error {
  display: block;
  margin-top: 10px;
  font-weight: normal;
  color: lighten( red, 20% );
}

.form-control{
	background-color: #fff;

	label ~ &{
		margin-top: .25rem;
	}
}

.form-group .btn ~ .btn{
	margin-top: 0;
}
