<template name="authenticatedNavigation">
  <ul class="nav navbar-nav">
    <!-- <li class="{{currentRoute 'index'}}"><a href="{{pathFor 'index'}}">Index</a></li> -->
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">

				{{#if currentUser.profile.picture}}
					<div class="row middle-xs">
						<div class="col-xs">
							<div class="rounded">
								<img src="{{currentUser.profile.picture}} " alt="{{currentUser.username}}" width="30">
							</div>
						</div>
						<div class="col-xs">
							<span class="caret"></span>
						</div>
					</div>
				{{else}}
					{{currentUser.username}}
					<span class="caret"></span>
				{{/if}}

			</a>
      <ul class="dropdown-menu" role="menu">
				<li class="{{currentRoute 'dashboard'}}"><a href="{{pathFor 'dashboard'}}">My Events</a></li>
				<li class="{{currentRoute 'userProfile'}}"><a href="{{pathFor 'viewProfile' userId=currentUser._id}}">My Profile</a></li>
				<li class="divider"></li>
        <li><a href="/" data-action="logout">Logout</a></li>
      </ul>
    </li>
  </ul>
</template>
