
<header id="main">
  <h1>Add Event</h1>
  <%= link_to events_path, :class => "block" do %>
    <div class="pull-left">
      <i class="fa fa-chevron-left"></i>
    </div>
  <% end %>
  
  
</header>

<div id="view">
  <div class="container">
    <div class="event-block">
      <div class="event-info">
        <div class="content">
          <%= render 'form_new_event' %>  
        </div>
      </div> <!-- /.event-info -->
    </div> <!-- /.event-block -->
  </div> <!-- /.container -->
</div> <!-- /#view -->

<script>
$(document).ready(function(){
  $('#hash_tag').keyup(function(){
    var splitJoin = $(this).val().split(' ').join('');
    $(this).val(splitJoin)
  });
  if ($('#hash_tag').val() == ""){
    var eventName = $('#event-name').val();
    $('#hash_tag').val(eventName).trigger('keyup');
  }
  $('#hash_tag').val(eventName).trigger('keyup');
});
  
</script>
