// Scale up the modal
@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {

		width: auto;
		max-width: 100%; //$modal-md;
    margin: 30px 2rem;
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm {
		width: auto;
		max-width: $modal-sm; }
}

@media (min-width: $screen-md-min) {
  .modal-lg {
		width: auto;
		max-width: $modal-lg; }
}

.modal-full{
	max-width: none;
	.modal-dialog, .modal-content{
		max-width: none;
		box-shadow: none;
		background-color: transparent;
	}
}

.modal-open{
	main, nav[role="navigation"]{
	  filter: blur(5px);
	}
}
