button, .btn{
	&:focus,
	&:active,
	&:hover{
    outline:0px !important;
    -webkit-appearance:none;
	}
}

.btn{
	transition: all $transition-speed $transition-ease;

	&[class^="col-"]{
		padding-left: inherit;
		padding-right: inherit;
	}
}

.btn ~ .btn{
	margin-top: 0;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
}

.btn-white {
	color: #b2dbfb;
	border-color: rgba(white, .25);
	background-color: rgba(white, .15);

	&:hover{
		color: white;
		border-color: rgba(white, 1);
		background-color: rgba(white, .25);
	}
}

.btn-default.btn-outline {
  color: $btn-default-color;
	border-color: rgba($btn-default-color, .75);
	&:hover{
		border-color: rgba($btn-default-color, 1);
		background-color: rgba($btn-default-color, .15);
		color: $btn-default-color;
	}
	&.active{
		border-color: rgba($btn-default-color, 1);
		background-color: rgba($btn-default-color, 1);
		color: white;
	}
}

.btn-primary.btn-outline {
  color: $brand-primary;
	border-color: rgba($brand-primary, .75);
	&:hover{
		border-color: rgba($brand-primary, 1);
		background-color: rgba($brand-primary, 1);
	}
}

.btn-facebook.btn-outline {
  color: $brand-facebook;
	border-color: rgba($brand-facebook, .75);
	&:hover{
		border-color: rgba($brand-facebook, 1);
		background-color: rgba($brand-facebook, 1);
	}
}

.btn-success.btn-outline {
  color: $brand-success;
	border-color: rgba($brand-success, .75);
	&:hover{
		border-color: rgba($brand-success, 1);
		background-color: rgba($brand-success, 1);
	}
}

.btn-info.btn-outline {
  color: $brand-info;
	border-color: rgba($brand-info, .75);
	&:hover{
		border-color: rgba($brand-info, 1);
		background-color: rgba($brand-info, 1);
	}
}

.btn-warning.btn-outline {
  color: $brand-warning;
	border-color: rgba($brand-warning, .75);
	&:hover{
		border-color: rgba($brand-warning, 1);
		background-color: rgba($brand-warning, 1);
	}
}

.btn-danger.btn-outline {
  color: $brand-danger;
	border-color: rgba($brand-danger, .75);
	&:hover{
		border-color: rgba($brand-danger, 1);
		background-color: rgba($brand-danger, 1);
	}
}

.btn-primary.btn-outline,
.btn-success.btn-outline,
.btn-info.btn-outline,
.btn-warning.btn-outline,
.btn-danger.btn-outline {
	&:hover, &.active {
		color: #fff;
	}
}
