.panel {
	text-align: left;
}
.panel-footer{
	margin-top: 0;
}
.panel hr{
	margin: 1rem 0;
}

.event-card{
	transition: all $transition-speed $transition-ease $transition-speed / 2;
	transform: scale(1);
	opacity: 1;
	margin-bottom: 2rem;
	&.event-card--imported{
		transform: scale(0);
		opacity: 0;
	}
}
