.event-card{
	@extend .col-xs-12; @extend .col-sm-6; @extend .col-md-6; @extend .col-lg-4;
	transition: all .2s ease-out .2s;
	transform: scale(1);
	// & + &{
	// 	@media (max-width: $screen-xs){
	// 		margin-top: 2rem;
	// 	}
	// }
	margin-bottom: 2rem;
	&.event-importing{
		transform: scale(1.125);
	}
	&.event-imported{
		transform: scale(0) opacity(0);
	}

	.modal-full &{
		min-width: calc(25% - 2rem);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 1rem 1rem;
		@media(min-width: $screen-md){
			padding: 0 2.4rem 2.4rem;
		}
	}
}
