

/*



88888888ba     88        88      ,ad8888ba,    8b        d8
88      "8b    88        88     d8"'    `"8b    Y8,    ,8P 
88      ,8P    88        88    d8'        `8b    Y8,  ,8P  
88aaaaaa8P'    88        88    88          88     "8aa8"   
88""""""8b,    88        88    88          88      `88'    
88      `8b    88        88    Y8,        ,8P       88     
88      a8P    Y8a.    .a8P     Y8a.    .a8P        88     
88888888P"      `"Y8888Y"'       `"Y8888Y"'         88     




  by:        Joe Burdick
  portfolio: joeylabs.com
  blog:      j0e.me

*/


/*—————————————— 

  VARIABLES

*/
$pageOffset          : 60px;
$sideNavWidth        : 85%;
$sideNavWidthMax     : 35%;

$defaultSpeed        : .2s;
$defaultMargin       : 50px;
$defaultradius       : 10px;
$defaultBorderStroke : 1px;
$defaultMapHeight    : 300px;

$viewBackgroundColor : #eee;
$grayColor           : #ccc;
$linkColor           : #FF69d6;
$ArrowThickness      : 30px;

$brand-primary       : #018279;
$brand-warning       : #eeaf2a;
$brand-danger        : #c1272c;

/*—————————————— 

  IMPORTS

*/
@import "bourbon";
@import "font-awesome";
@import "twitter/bootstrap";
/*@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,500);
*/
/* —————————————

  ANIMATIONS

*/
@-webkit-keyframes buoy-animated {
  0%  { 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  25% { 
    //top:5px; 
    @include transform(rotate(35deg));
  }
  50%{ 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  75%{ 
    //top:-15px; 
    @include transform(rotate(35deg));

  }
  100%{ 
    //top:-15px; 
    @include transform(rotate(10deg));
  }
}
@-moz-keyframes buoy-animated {
  0%  { 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  25% { 
    //top:5px; 
    @include transform(rotate(35deg));
  }
  50%{ 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  75%{ 
    //top:-15px; 
    @include transform(rotate(35deg));

  }
  100%{ 
    //top:-15px; 
    @include transform(rotate(10deg));
  }
}
@-o-keyframes buoy-animated {
  0%  { 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  25% { 
    //top:5px; 
    @include transform(rotate(35deg));
  }
  50%{ 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  75%{ 
    //top:-15px; 
    @include transform(rotate(35deg));

  }
  100%{ 
    //top:-15px; 
    @include transform(rotate(10deg));
  }
}
@keyframes buoy-animated {
  0%  { 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  25% { 
    //top:5px; 
    @include transform(rotate(35deg));
  }
  50%{ 
    //top:-15px; 
    @include transform(rotate(10deg));

  }
  75%{ 
    //top:-15px; 
    @include transform(rotate(35deg));

  }
  100%{ 
    //top:-15px; 
    @include transform(rotate(10deg));
  }
}




/*—————————————— 

  OVERRIDES

*/
.container{ padding-top    : $pageOffset * 2;
            padding-bottom : $pageOffset / 2; }
html{
  overflow-x: hidden;
}
body { 
  font-family : "Roboto";
  overflow    : auto;
  font-size   : 16px;
  &.menu-open{
    overflow  : hidden;
  } 
}

h1,h2,h3,
h4,h5,h6  { font-family     : "Roboto"; 
            font-weight     : 400;
          }
h1        { font-weight     : 300;}
h2        { font-size       : 150%; }

h3        { 
            font-size       : 125%;
            font-weight     : 300;
            line-height     : 1.4;
            font-family     : "Roboto";
          }
p         { font-size       : 120%;}
a         { text-decoration : none!important; }
input, 
button, 
select, 
textarea  { width:100%;}
input,
select,
textarea  { padding: 5%; }
textarea:focus,.form-control:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus, {   
border-color: $brand-primary;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
outline: 0 none;}


button,
.btn      { position: relative; margin-bottom:5px; }

textarea  { min-height: 130px;}
.form-control { font-size: 120%;
  &.small { font-size:85%;}
}
.fb-comments{ 
  display          : block!important;
  width            : 100% !important;
  margin-top       : 40px;
  span{ width      : 100% !important;
    iframe { width : 100% !important;}
  }
}

/*—————————————— 

  WEAPONS

*/
.top0          { top      : 0 !important;  }
.bottom0       { bottom   : 0 !important; }
.ztop          { z-index  : 100 !important; }
.absolute      { position : absolute !important; }
.fixed         { position : fixed !important; }
.brand-primary { color    : $brand-primary!important;}
.brand-warning { color    : $brand-warning!important;}
.brand-danger { color    : $brand-danger!important;}


#face-mask{
  position        : fixed;
  top             : 0;
  right           : 0;
  left            : 0;
  bottom          : 0;
  display         : none;
  z-index         : 0;
  text-decoration : none;
  
}
/* This parent can be any width and height */
.vertBlock {
  text-align : center;
  width      : 100%;
  min-height     : 350px;
}
 
/* The ghost, nudged to maintain perfect centering */
.vertBlock:before {
  content        : '';
  display        : inline-block;
  height         : 100%;
  vertical-align : middle;
  margin-right   : -0.25em; /* Adjusts for spacing */
}
#login{
  position       : relative;
  padding        : 8% 5%;
  border-radius  : 25px; 
  .logo {
    position   : relative;
    margin-left: -4%;
  }
  h2{
    font-weight: 200;
  }
  #sign_in{
    padding    : 20px 0;
    font-weight: 300;
    max-width  : 500px;
    margin     : 0 auto;
    font-family: "Roboto";
  }
  h1{
    font-size: 350%;
    color: $brand-primary;
  }
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display        : inline-block;
  vertical-align : middle;
  width          : 100%;
  text-align     : center;
}
.full-screen{
  display        : inline-block;
  text-align     : center;
  vertical-align : middle;
  position       : absolute;
  color          : $grayColor;
  z-index        : 20;
  top            : 0;
  left           : 0;
  right          : 0;
  bottom         : 0;
}
.block{
  display  : block;
}
.tall-block{
  display  : block;
  position : absolute;
  height   : 100%;
  width    : 100%;
}
.bg-cover{
  background-repeat       : no-repeat;
  background-position     : center center;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;
}
.pill-container{
  margin        : 20px 0 0 0;
  background    : #eee;
  border-radius : 25px;
  list-style    : none;
  overflow      : hidden;
  padding       : 8px 20px 10px;
  display       : inline-block;
  li{
    border-left  : 1px solid #ddd;
    position     : relative;
    float        : left;
    margin-left  : 10px;
    padding-left : 10px;
    &:first-child{
      margin-left  : 0;
      padding-left : 0;
      border-left  : 0;
    }
  }
}
.notice,.alert{
  position      : fixed;
  top           : $pageOffset;
  width         : 100%;
  padding       : 20px;
  font-size     : 150%;
  text-align    : center;
  margin-bottom : 0;
  opacity       : 1;
  z-index       : 999;
  font-weight   : 200;

  @include transition (all $defaultSpeed ease-out 1s);

  &.close{
    font-size   : 150%;
    font-weight : 200;
    top         : -$pageOffset;
    opacity     : 0;
  }
}



/*—————————————— 

  NAV

*/
nav#main-navigation{
  width           : $sideNavWidth;
  max-width       : $sideNavWidthMax; 
  z-index         : 1;
  background      : desaturate(darken($brand-primary, 20%), 5%);
  position        : fixed;
  left            : 0;
  top             : 0;
  bottom          : 0;
  color           : $grayColor;
  padding         : 20px 0;
  overflow        : auto;
  overflow-x      : hidden;
  -webkit-overflow-scrolling: touch;
  
  .content{
/*    //opacity: 0;
    @include transform( scale(0.9) );
    @include transition(all $defaultSpeed + .25);*/
  }
  &.menu-open{
    .content{
      /*//opacity: 1;
      @include transform( scale(1) );  */
    }
  }
  .logo{
    width: 50px;
    position: relative;
    margin-left: -20px;
  }
  a:hover{
    color:#fff;
  }
  h1 {
    font-size:220%;
  }
  hr{
    display       : block;
    height        : 0px;
    border-top    : 1px solid lighten($brand-primary, 10%);
    border-bottom : 1px solid darken($brand-primary, 10%);
  }
  form hr { margin-top: 10px;}
  #profile-picture{
    position     : relative;
    margin       : 5px auto 15px;
    display      : block;
    width        : 100px;
    height       : 100px;
    box-shadow   : 0 0 0 $defaultBorderStroke+3 #fff;
    @include border-top-radius(75px);
    @include border-bottom-radius(75px);
    @include border-left-radius(75px);
    @include border-right-radius(75px);
  }

  .menu{
    list-style   : none;
    position     : relative;
    font-size    : 110%;
    text-align   : center;
    width        : 80%;
    padding      : 0;
    margin       : 50px auto;
    font-family  : Roboto;
    font-weight  : 400;
    li{
      margin-top : 20px;
    }
  }
}

/*—————————————— 

  VIEW

*/

#view{
  position   : relative; /* Experimental */
  width      : 100%; /* Experimental */
  //uheight     : 100%; /* Experimental */
  background : $viewBackgroundColor;
  z-index    : 2;
  margin-left: 0;
  overflow   : auto;
  overflow-x : hidden;
  -webkit-overflow-scrolling: touch;
  @include transition(left, $defaultSpeed);
  box-shadow : 0 -10px 30px #000;
  &.menu-open{
    left     : $sideNavWidthMax;
    width    : 100 - $sideNavWidthMax;
    .container{
      width  : 100%;
    }
  }
}

/*—————————————— 

  HEADER

*/
header#main{
	height     : $pageOffset;
	background : rgba(255,255,255,.90);
	position   : fixed;
	z-index    : 999;
	top        : 0;
	left: 0;
	right      : 0;
  overflow   : hidden;
  line-height: $pageOffset - 10;

  @include transition(left, $defaultSpeed);
  &.menu-open{
    left : $sideNavWidthMax;
  }
  h1{
    margin       : 0;
    overflow     : hidden;
    white-space  : nowrap; 
    text-overflow: ellipsis;
    height       : $pageOffset;
    text-align   : center;
    color        : #666;
    font-size    : 110%;
    font-weight  : 400;
    line-height  : $pageOffset - 5; 
    position: absolute;
    width: 100%;
    padding: 0 40px;
  }
  a.block{ @include transition(all, $defaultSpeed);}
  i{
    font-size      : 150%;
    vertical-align : middle;;
    color          : $grayColor;
    position       : relative;
    margin         : 0;
    padding        : 0px 20px;
  }
}

/*

User lists

*/
.list-users{
  display:inline-block;
  text-align: center;
  padding:0;
  li{
    display:inline-block;
    
    position: relative;
    margin: 0 1% 12px;
    text-align: center;
  }
  .circle{
      width:100px;
      height:100px;
      border-radius: 25px;
      color:lighten($grayColor,5%);
      text-align: center;
      line-height: 50px;
      display:block;
      background-position: top center;
    }
  .picture{
    width:100px;
    height:100px;
    border-radius: 5px;
    color:lighten($grayColor,5%);
    text-align: center;
    line-height: 50px;
    display:block;
    background-position: top center;
    .name-block{
      @include position(absolute, 0 0 0px 0px);
      @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
      padding: 10px 0 0 0;
      .name-text{
        position: relative;
        margin:5px;
        color: #fff;
      }
    }
  }
}



/*—————————————— 

  MAPS

*/
#map-container{
	position   : relative;
	width      : 100%;
	max-width  : 2000px;
	height     : $defaultMapHeight;

	#map{
		position : absolute;
		top      : 0;
		left     : 0;
		right    : 0;
		bottom   : 0;
	}
}
.image-map{
	width     : 100%;
	max-width : 1000px;
}
.controls {
  margin-top       : 16px;
  border           : 1px solid transparent;
  border-radius    : 2px 0 0 2px;
  box-sizing       : border-box;
  -moz-box-sizing  : border-box;
  height           : 32px;
  outline          : none;
  box-shadow       : 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color : #fff;
  margin           : 7px auto;
  padding          : 4px 10px;
  font-weight      : 400;
  font-family      : roboto;
  width            : 45%;
  font-size        : 15px;
  font-weight      : 300;
  text-overflow    : ellipsis;
  display          : none;
  &.active{
    display: block;
  }
}
#pac-input:focus {
  border-color: $brand-primary;
  margin-left: -1px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: $brand-primary;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}






/*—————————————— 

  EVENT BLOCKS

*/
.event-block{
  margin-bottom : $defaultMargin;
  
  /* Map handling */
  .event-map, .event-no-map{
    position   : relative;
    height     : $defaultMapHeight;
    z-index    : 9;
    border     : 1px solid $grayColor;
    width      : 99%;
    margin     : 0 auto;
    z-index    : 9; 
    [id^=map]{
      min-height : $defaultMapHeight!important;
    }
  }
  .event-no-map .tall-block, .tall-block.large{
    line-height : 290px;
    text-align  : center;
    font-size   : 200%;
    font-weight : 100;
    background  : darken($viewBackgroundColor, 5%);
    color       : #aaa;  
    text-shadow : 0 1px 1px lighten($viewBackgroundColor, 50%);  
    @include transition(all, $defaultSpeed);
  }
  
  .event-info{
    position   : relative;
    margin     : 0px auto 0; /* -80px auto 0*/
    background : #fff;
    z-index    : 10;
    box-shadow : 0 -5px 8px rgba(0,0,0,.1);
    border     : $defaultBorderStroke solid #aaa;
    border-bottom-right-radius: $defaultradius;
    border-bottom-left-radius: $defaultradius;

    @include transition(all, $defaultSpeed);
    .content{
      padding  : 3%;
    }    
  }
  .privacy.label{
    position: absolute;
    top:10px;
    right:10px;
  }
  .pill-container{
    font-size  : 80%;
  }
  
  .event-map + .event-info{
    /* Arrow for info boxes */
    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: $ArrowThickness;
      margin-left: -$ArrowThickness;
    }
    &:before {
      border-color: rgba(204, 204, 204, 0);
      border-bottom-color: #aaa;
      border-width: ($ArrowThickness + $defaultBorderStroke);
      margin-left: -($ArrowThickness + $defaultBorderStroke);
    }
  }
  &:hover, &:active{
    .event-info{
    }
    .event-no-map .tall-block, .large.tall-block{
      color      : #666;
      background : darken($viewBackgroundColor, 3%); 
    }
  }
}


.buoy-animated{
  width    : 142px;
  height   : 210px;
  position : relative;
  margin   : 0 auto;
  
  .water-back{
    background: url('buoy-pieces-water-back.png');
    width     : 144px;
    height    : 23px;
    position  : absolute;
    z-index   : 1;
    bottom    : 92px;
    left      : -10px;
  }
  .buoy-logo{
    background: url('buoy-pieces-buoy.png');
    width     : 108px;
    height    : 155px;
    position  : absolute;
    z-index   : 2;
    left      : 16px;
    
    -webkit-animation: buoy-animated 5s infinite ease-in-out; 
    -moz-animation:    buoy-animated 5s infinite ease-in-out; 
    -o-animation:      buoy-animated 5s infinite ease-in-out; 
    animation:         buoy-animated 5s infinite ease-in-out; 
  }
  .water-front{
    background: url('buoy-pieces-water-front.png');
    width     : 144px;
    height    : 102px;
    position  : absolute;
    z-index   : 3; 
    bottom    : 0;
    left      : -10px;
  }

}


@media (max-width: $screen-md-min) { 
  #view.menu-open, #face-mask.menu-open, header#main.menu-open{
    left: 50%;
  }
  #main-navigation.menu-open{
    max-width: 50%;
  }

  #face-mask.menu-open{
    display       : block;
    right         : 0;
    width         : $sideNavWidth;
    z-index       : 999;
  }
  
  .container
    { 
      padding-top    : $pageOffset * 2;
      padding-bottom : $pageOffset / 2; 
    }

}

@media (max-width: $screen-xs-min) { 
  header#main.menu-open{
    h1, .pull-right{
      display : none;
    }
  }
  #view.menu-open, #face-mask.menu-open, header#main.menu-open{
    left: $sideNavWidth;
  }
  #main-navigation.menu-open{
    max-width: 100%;
  }
  
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

}

/* portrait */
@media screen and (orientation:portrait) {
  /* portrait-specific styles */
}
/* landscape */
@media screen and (orientation:landscape) {

}

